<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
		<section id="about">
	      <div class="container-fluid avatar text-center">
	        <img class="rounded-circle" style="border: 3px solid white" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Image of {{ .Site.Params.author }}">
	      </div>
	      <div class="container">
	        <div class="jumbotron">
	          <div class="central-box">
	            <!-- <h2><strong>{{ .Site.Params.author }}</strong></h2> -->
	            <h2>I am a PhD Candidate at NYU Stern Technology, Operations, and Statistics department.</h2>
	            <h2>&ltAI fairness, causality&gt &#x222A &ltcrowdsourcing&gt .  </h2>
	            <h2>mboyarsk <@> stern <*> nyu <*> edu </h2>
	            <!-- <h2>For further information have a look at my
	              <a href="{{ .Site.BaseURL }}posts/">posts</a>,
	              <a href="{{ .Site.BaseURL }}projects/">projects</a> or
	              <a href="{{ .Site.BaseURL }}publications/">publications</a>.
	            </h2> -->
	          </div>
	        </div>
	      </div>
	    </section>
			<!--<main class="single">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				<!-- {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					<br><div class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary }}&hellip;
						{{ end }}
					</div>
					<a href="{{ .RelPermalink }}">Read more ⟶</a>
				</section> 
				{{ end }}
				{{ template "partials/paginator.html" . }}-->
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
